ul{
	width: 100%;
}

li{
	float: left;
	
	height: 35px;
	width: 75px;
	padding:10px;
}

.navbar {
	background: -webkit-linear-gradient(bottom, #555555 , #919191); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom, #555555 , #919191); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom, #555555 , #919191); /* For Firefox 3.6 to 15 */
	background: linear-gradient(bottom, #555555 , #919191); /* Standard syntax */
	padding: 0px;
	margin: 0px;
	border-radius: 5px;
	box-shadow: 5px 5px 20px #888888;
	line-height: 35px;
}

a:link{
	text-decoration: none;
	color: white;
	font-family: "Arial Black", Gadget, sans-serif;
}

a:visited{
	color: white;
}

.clearFix{
	clear:both;
}